mypy-extensions==0.4.3
pyright==0.0.13
typing-inspect==0.7.1
typing_extensions==3.10.0.0
requests==2.27.1
SQLAlchemy==1.4.37
PyMySQL==1.0.2
pandas==1.1.5
localStoragePy==0.2.3
flake8==4.0.1
tox==3.25.0
tox-gh-actions==2.9.1
pytest==7.0.1
pytest-cov==3.0.0
mypy==0.961
types-requests==2.27.30
isort==5.10.1
responses==0.17.0

